<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.MemberDAO">

	<!-- select문은 select, insert문은 insert 똑같은 이름의 태그 사용 id : DAO와의 연결 매개체 parameterType 
		: 매개변수 데이터 타입을 명시 #{필드명} : 바인드변수 -->
	<insert id="joinService" parameterType="model.MemberVO">
		insert into t_member
		values (#{mb_id}, #{mb_pw}, #{mb_name}, #{mb_phone}, sysdate, 'N')
	</insert>

	<!-- select를 할 때, resultType을 통해서 원하는 VO 또는 List객체로 묶어줄 수 있다. 여러개의 데이터를 
		DB에서 가져올 때, resultType도 한개로 가져올 때랑 같음 -->
	<select id="loginService" parameterType="model.MemberVO" resultType="model.MemberVO">
		select * from t_member where mb_id = #{mb_id} and mb_pw = #{mb_pw}
	</select>

	<update id="updateService" parameterType="model.MemberVO">
		update t_member 
		set mb_pw = #{mb_pw}, mb_name = #{mb_name}, mb_phone = #{mb_phone} 
		where mb_id = #{mb_id}
	</update>

	<delete id="deleteService">
		delete from t_member where mb_id = #{mb_id}
	</delete>

	<select id="idCheck" resultType="model.MemberVO">
		select * from t_member where mb_id = #{mb_id}
	</select>
	
	
	<!-- ////////////////////// -->
	<insert id="writeBoard" parameterType="model.BoardVO">
		insert into t_community
		values(article_seq.nextval, #{article_title}, #{mb_id}, #{article_content}, #{article_file, jdbcType=VARCHAR}, sysdate)	
	</insert>
	
	<select id = "selectBoard" resultType="model.BoardVO">
		select * from t_community	
		order by article_date desc
	</select>
	
	<select id = "viewBoard" resultType="model.BoardVO">
		select * from t_community where article_seq = #{article_seq}
	</select>	



</mapper>